<div class="col-md-8">
  <h4 class="page-header">Shipping Details</h4>
  <form #shippingForm="ngForm" (ngSubmit)="checkout(shippingForm)">
    <div class="form-group" [class.has-error]="fullName.invalid&&fullName.dirty">
      <label class="control-label" for="fullName">Full Name </label>
      <input type="text" #fullName="ngModel" class="form-control" id="fullName" name="fullName" [(ngModel)]="model.fullName" required>
      <span class="help-block" *ngIf="fullName.invalid&&fullName.dirty">Fullname is required. Please enter your fullname</span>
    </div>

    <div class="form-group" [class.has-error]="address.invalid&&address.dirty">
      <label class="control-label" for="address">Address </label>
      <textarea type="text" #address="ngModel" class="form-control" id="address" name="address" [(ngModel)]="model.address" required
        rows="3" minlength="10"></textarea>
      <span class="help-block" *ngIf="address.invalid&&address.dirty">Address is required and should be min 10 characters. Please enter your address</span>
    </div>

    <div class="form-group" [class.has-error]="city.invalid&&city.dirty">
      <label class="control-label" for="cityId">City </label>
      <select #city="ngModel" name="cityId" id="cityId" class="form-control" [(ngModel)]="model.cityId"  required >
        <option value="-1" selected>Deneme</option>
        <option *ngFor="let item of cities" [value]="item.id">{{item.name}}</option>
      </select>
      <span class="help-block" *ngIf="city.value==-1&&city.dirty" >City information is required.</span>
    </div>

    <div class="checkbox">
      <label>
        <input type="checkbox" name="isGift" [(ngModel)]="model.isGift"> Is Gift ?
      </label>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="shippingForm.invalid">Complete Shopping</button>
  </form>
</div>